
#room {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#room-chat {
    width: 50vw;
}

#room-restaurant-meals {
    width: 50vw;
}

#chosen-meals {
    width: 50vw;
}